:root {
  --main-color: #0dbdad;
  --second-main-color: #007073;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
}

html {
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}
